.glide__bullets {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.glide__bullet {
  border-radius: 100px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid $color_white;
  padding: 0;

  &.glide__bullet--active {
    background-color: $color_white;
  }
}

.glide__bullets--dark {
  .glide__bullet {
    border-color: $color_black;

    &.glide__bullet--active {
      background-color: $color_black;
    }
  }
}

.glide__arrow {
  border: 4px solid $color_black;
  background-color: transparent;
  height: 20px;
  width: 20px;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: -40px;
}

.glide__arrow--right {
  left: unset;
  right: -40px;
  border-left: 0;
  border-bottom: 0;
}

.glide__arrow--left {
  border-right: 0;
  border-top: 0;
}
