footer {
  padding: 0;
}

footer .menu > .menu-item:hover {
  background-color: transparent;
  color: white;
  opacity: .7;
}

footer h3 {
  padding-bottom: 20px;
  color: white;
}

footer h3::after {
  content: " ";
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 40px;
  left: 20px;
  right: 20px;
  display: inline-block;
}

footer .menu {
  list-style: none;
  padding-left: 0px;
}

footer .menu a {
  font-size: 16px;
  line-height: 28px;
}

#footer_top {
  min-height: 250px;
  background-color: #E1E1E1;
  color: $color_primary;
  font-size: 1.2rem;
}

#footer_top a {
  color: $color_primary;
}

#footer_bottom {
  background-color: #1a1a1a;
  padding: 30px;
}

#footer_bottom img {
  max-height: 50px;
  width: auto;
}

#footer_bottom .list-inline {
  margin-bottom: 0px;
}

#footer_bottom .list-inline li {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
}
