.navbar-brand {
  position: absolute;
  top: 45px;
  left: 40px;
}

.hamburger {
  height: 30px;
  width: 40px;
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: 6;

  span {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: $color_orange;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: unset;
      bottom: 0;
    }
  }
}

.alt-nav .navbar.open,
.navbar.open {
  z-index: unset;

  .navbar-menu {
    transform: translateX(0);
    opacity: 1;
  }

  .hamburger {
    span {
      top: calc(50% - 2px);
      bottom: unset;
      opacity: 0;
    }

    span:first-child,
    span:last-child {
      opacity: 1;
      transform: rotate(45deg);
    }

    span:last-child {
      transform: rotate(-45deg);
    }
  }
}

.alt-nav .navbar.open {
  z-index: 2;
}

.navbar-menu,
ul.navbar-menu {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 270px;
  padding: 100px 0;
  margin: 0;
  transform: translateX(200%);
  opacity: 0;
  transition: opacity .4s ease-in;

  li {
    margin-bottom: 2.5rem;
    padding-left: 50px;
  }
}

.subnav-trigger {
  position: relative;

  &:hover .subnav {
    opacity: 1;
  }
}

.subnav {
  opacity: 0;
  transition: opacity .25s ease;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: -170px;
  text-align: right;
  display: flex;

  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 270px;
    width: 200px;
    background-color: rgba(0,0,0,0.8);
  }

  a {
    color: $color_white;
    position: relative;
    text-align: right;
    z-index: 5;

    &:hover {
      color: $color_orange;
    }
  }
}

.social-icon-wrapper {
  position: absolute;
  top: 20px;
  right: 40px;

  ul li {
    padding: 0;
  }
}

@media (min-width: 769px) {

  .navbar-menu a {
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .navbar-menu .subnav a:hover {
    border: 0;

    &:after,
    &:before {
      border: 0;
    }
  }

  .navbar-menu a:hover,
  .navbar-menu .subnav-trigger:hover > a {
    position: relative;
    border: 1px solid $color_orange;
    border-left: 0;
    text-decoration: none;

    &:before,
    &:after {
      content: '';
      display: block;
      border: 1px solid $color_orange;
      border-bottom: 0;
      position: absolute;
      top: -1px;
      left: -16px;
      bottom: 50%;
      width: 10px;
      transform: skew(-30deg);
    }

    &:after {
      top: 50%;
      bottom: -1px;
      transform: skew(30deg);
      border: 1px solid $color_orange;
      border-top: 0;
    }
  }
}

@media (max-width: 768px) {

  .navbar-brand {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .alt-nav .navbar-brand {
    position: absolute;
    top: 50px;
    left: 40px;
  }

  .hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .alt-nav .hamburger {
    position: absolute;
    top: 50px;
    right: 40px;
  }

  .navbar-menu, ul.navbar-menu {
    left: 0;
    width: 100%;

    a:hover {
      text-decoration: none;
      color: $color_orange;
    }
  }

  .navbar.open .navbar-trigger {
    position: fixed;
    right: 20px;
  }

  .alt-nav .navbar.open .navbar-trigger {
    right: 40px;
  }

  .alt-nav .navbar.open {
    z-index: 2;
  }

  .subnav,
  .subnav.active {
    display: none;
  }

  .navbar-menu,
  ul.navbar-menu {
    background-color: $color_black;
  }

  .navbar-menu li, ul.navbar-menu li {
    padding-left: 0;
  }

  .social-icon-wrapper {
    display: none;
  }
}
