<section class='book-wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
        <h2><%= title %></h2>
        <p>Book description</p>
        <a href="" class='btn btn-primary-outline'>Learn More</a>
      </div>
      <div class='col-sm-6'>
        <img src="https://99designs-start-attachments.imgix.net/alchemy-pictures/2016%2F02%2F12%2F00%2F05%2F05%2F910db405-6bd4-4a5d-bce7-c2e3135dc5e6%2F449070_WAntoneta_55908c_killing.png?auto=format&ch=Width%2CDPR&fm=png&w=600&h=600">
      </div>
    </div>
  </div>
</section>
