<footer>
  <div id="footer_top" class="section-pad bg-clip bg-clip-inverse pb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-label col-footer mb-5">
          <h3 class="text-label text-title-lowercase">louie giglio</h3>
          <p class="p-medium">515 Garson Drive NE<br>Atlanta, GA 30324</p>
        </div>
        <div class="col-md-4 text-label col-footer mb-5">
          <h3 class="text-label text-title-lowercase">information</h3>
          <div class="menu-footer-column-2-container">
            <ul class="list-unstyled">
              <li><a href="/privacy-policy/">Privacy Policy<em><small class="text-muted text-lowercase"></small></em></a></li>
              <li><a href="/privacy-policy/">Terms and Conditions<em><small class="text-muted text-lowercase"></small></em></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 text-label col-footer mb-5">
          <h3 class="text-label text-title-lowercase">get in touch</h3>
          <ul class="list-unstyled">
            <%= render_partial 'components/social-icons' %>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer_bottom">
    <div class="d-flex justify-content-center">
      <a class="mx-2 mx-md-4" href="https://passioncitychurch.com" target="_blank">
        <img src="https://passioncitychurch.com/wp-content/uploads/2015/09/footer-logos-pcc.png">
      </a>
      <a class="mx-2 mx-md-4" href="https://268generation.com" target="_blank">
        <img src="https://passioncitychurch.com/wp-content/uploads/2015/09/footer-logos-passion.png">
      </a>
      <a class="mx-2 mx-md-4" href="https://sixstepsrecords.com" target="_blank">
        <img src="https://passioncitychurch.com/wp-content/uploads/2015/09/footer-logos-sixsteps.png">
      </a>
      <a class="mx-2 mx-md-4" href="https://passionresources.com" target="_blank">
        <img src="https://passioncitychurch.com/wp-content/uploads/2015/09/footer-logos-resources1.png">
      </a>
    </div>
  </div>
</footer>
