<ul class="social-icons list-unstyled d-flex">
  <li><a class="mx-2" href="#"><i class="fab fa-facebook-f p-medium"></i></a></li>
  <li><a class="mx-2" href="#"><i class="fab fa-twitter p-medium"></i></a></li>
  <li><a class="mx-2" href="#"><i class="fab fa-instagram p-medium"></i></a></li>
  <li><a class="mx-2" href="#"><i class="fab fa-youtube p-medium"></i></a></li>
  <li><a class="mx-2" href="#"><i class="fab fa-spotify p-medium"></i></a></li>
  <li><a class="mx-2" href="#"><i class="fab fa-apple p-medium"></i></a></li>
  <li><a class="ml-2" href="#"><i class="far fa-envelope p-medium"></i></a></li>
</ul>
